{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title%}Democracy Review - Discuss{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Democracy Review - Discuss</li>
{% endblock %}

{% block content %}
    <p>The Labour Party’s Democracy Review is an unprecedented opportunity for ordinary members to input into the culture, rules and structure of the Labour Party.  We’re inviting our members to collaborate on forming Momentum’s submissions to the review.</p>
    <p>There are three tracks{{ live_track_text }}. Each track contains themes, and you can make one proposal per theme and then nominate your favourite in each. Get started now, or visit <a href="{% url 'review:help' %}">Help</a> to read our <a href="{% url 'review:rules' %}">guide to the platform</a>.</p>

    <h3>Tracks</h3>
    <div class="row">
        {% for track in tracks %}
            <div class="col-sm d-flex align-items-stretch pt-4">
                <div class="card bg-light border-secondary" style="width: 20rem;">
                    <div class="card-body">
                        <a href="{% url 'review:track' track.pk %}"><h4 class="card-title">{{ track.name }}</h4></a>
                        <table class="card-text text-muted small">
                            <tr><td><b>Submissions</b></td><td>{{ track.submission_date_text }}</td></tr>
                            <tr><td><b>Nominations</b></td><td>{{ track.nomination_date_text }}</td></tr>
                        </table>
                        <hr>
                        <p class="card-text">{{ track.description }}</p>
                        <p class="card-text {{ track.guidance_class }}">{{ track.guidance }}</p>
                        <div class="text-right align-bottom">
                            <a href="{% url 'review:track' track.pk %}">View <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}