{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title%}Democracy Review - Vote{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Democracy Review - Vote</li>
{% endblock %}

{% block content %}
    <p>All proposals are based on contributions from Momentum’s National Coordinating Group, the Members’ Council, individual members on My Momentum, and allied campaigning organisations such as Campaign for Labour Party Democracy.</p>

    <h3>Voting</h3>
    <div class="row mb-4">
        {% for track_voting in track_votings %}
            {% if track_voting.pk == 2 or show_track3_voting %}
                <div class="col-sm d-flex align-items-stretch pt-4">
                    <div class="card bg-light border-secondary" style="width: 20rem;">
                        <div class="card-body">
                            <a href="{% url 'review:track_voting' track_voting.pk %}"><h4 class="card-title">{{ track_voting.name }}</h4></a>
                            <table class="card-text text-muted small">
                                <tr><td><b>Voting</b></td><td>{{ track_voting.voting_date_text }}</td></tr>
                            </table>
                            <hr>
                            <p class="card-text {{ track_voting.guidance_class }}">{{ track_voting.guidance }}</p>
                            <div class="text-right align-bottom">
                                <a href="{% url 'review:track_voting' track_voting.pk %}">View <i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}