{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title%}Questions{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
  <li class="breadcrumb-item active">Questions</li>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-sm-12 col-md-6">

    <h1>Candidate Q&A</h1>
    <p>
      This is your chance to find out more about the Momentum members running in the leadership election. 
      You can ask a question, upvote questions submitted by other members and read candidate’s responses.
    </p>
    <h2>How do I ask a question?</h2>
    <p>Every member can submit one question on one of the topics listed below. Questions can be upvoted by other members and popular questions will rise to the top. </p>
    <p>All questions will be moderated to ensure they aren't repetitive, are addressed to all candidates, aren't biased towards any individual candidate and are in line with Momentum's <a href='https://peoplesmomentum.com/code-of-ethics/'>code of ethics</a>.</p>
    <h2>Question examples</h2>
    
    <p class="label-1 mb-2 gray-700">Winning Elections for Labour</p>
    
    <h3 class="mb-4">Q: ‘What do you think went wrong in the 2019 election?’</h3>
    
    <p class="label-1 mb-2 gray-700">Build a social movement</p>
    
    <h3 class="mb-4">Q: ‘How will you help Momentum members organise in their workplaces?’</h3>
    
    <p class="label-1 mb-2 gray-700">Build a sustainable organisation</p>
    
    <h3 class="mb-4">Q: ‘How will you develop our ability to raise funds?’</h3>
    
    <p class="label-1 mb-2 gray-700">Transform the Labour Party</p>
    
    <h3 class="mb-4">Q: ‘How will you campaign to make MPs accountable to the membership?’</h3>
    
    <p class="label-1 mb-2 gray-700">Train activists and build new leadership at all levels of the party</p>
    
    <h3 class="mb-4">Q: ‘What are your plans for political education?’</h3>
    
    <p class="label-1 mb-2 gray-700">Other key political priorities</p>
    
    <h3 class="mb-4">Q: ‘Do you think protesters were right to pull down the statue of Edward Colston in Bristol?’</h3>
    
    <h2>Answer rules</h2>
    <p>Candidates can answer any questions they want, in any order. All answers will be moderated to ensure they comply with our <a
      href="https://peoplesmomentum.com/wp-content/uploads/2020/05/2020-05-27-CodeOfConduct.pdf?_ga=2.68239449.910429016.1591784033-1575617572.1584972237">candidate
      code of conduct</a> and <a href="https://peoplesmomentum.com/code-of-ethics/">code of ethics</a>. The decisions of the moderators are final</p>
    <a href="{% url 'questions:index' %}" class="btn btn-outline-primary btn-block">VIEW Q&A LIST</a>
    <a href="https://vote.peoplesmomentum.com/info" class="btn mtm-btn-outline-secondary btn-block mb-4">Find out more about NCG Elections</a>
  </div>
</div>
{% endblock %}