{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title%}Questions{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active">Questions</li>
{% endblock %}

{% block content %}

<div class="row mb-4 justify-content-center">

  <div class="col-sm-12 col-md-6">



    {% if is_candidate %}
    <h2>Answers for members</h2>
    <!-- dashboard -->
    <h3 class="mt-4">Your answers</h3>
    <p class="mt-4"><span class="badge-pill bg-gray-500" style="color: #ffffff;">{{user_answers_pending_count}}</span> answers pending</p>
    <p><span class="badge-pill badge-success">{{user_answers_approved_count}}</span> answers approved </p>
    <hr>


    <p>You can submit 1 answer to as many member's questions as you want, there are 6 topics, we recommend you prioritise the
    top 5 questions in each topic.</p>
    <a class="btn btn-outline-primary btn-block" href="/questions/info">Find out more</a>

    {% else %}
    <h2>Questions for Candidates</h2>

    <h3>Ask a candidate a question</h3>
    <p class="body-sm-1">You can ask candidates 1 question. There are 6 question topics to choose from. You can upvote one question in each topic, for a total of 6 upvotes.<a href="info">Find out more</a></p>

      {% if not has_question %}
      <a class="btn btn-outline-primary btn-block" href="#ask">ASK A QUESTION</a>
      {% endif %}

    {% endif %}
  </div>
</div>

{% if pending_question %}
  {% for question in pending_question %}
  <div class="row mb-4 justify-content-center">
    <div class="col-sm-12 col-md-6">
      {% include './question_card.html' with question=question badge_text="This question is pending moderation"  %}
    </div>
  </div>
  {% endfor %}
{% endif %}

{% if reject and not pending_question and not has_question %}
    <div class="row mb-4 justify-content-center">
      <div class="col-sm-12 col-md-6">
        {% include './question_card.html' with question=reject badge_text="This question was declined" statusline=reject.reject_reason  %}
      </div>
    </div>
</div>
{% endif %}

</div>


  <div class="container-full grey-backing-strict" style="border-bottom: 1px solid #E5E5E5;">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6">
        <h2>Questions asked</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6">
        <form class="form-group" action="{% url 'questions:index' %}" method="POST" id="category_select">
          {% csrf_token %}
          <select id="id_category_select" name="category_select" onchange="this.form.submit()">
            <option disabled selected style="display: none;">
              {% for category in categories %}
              {% if current_category == category.number %}
              {{ category.number }} {{ category.title }}
              {% endif %}
              {% endfor %}
              {% if current_category == 0 %}
              0 All topics
              {% endif %}
            </option>
            <option value="0">0 All topics</option>
            {% for category in categories %}
            <option value="{{ category.number }}">{{ category.number }} {{ category.title }}</option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
  

    {% if num_questions == 0 %}
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-6">
            <h3 class="gray-600" align="center">No-one's asked a question in this category yet. {% if not has_question and not is_candidate %} You can be the first! {% endif %}</h3>
          </div>
        </div>
    {% else %}
    {% for question in questions %}
    {% if current_category == question.category.number or current_category == 0 %}
    
    <div class="row justify-content-center mb-3">

      <div class="col-sm-12 col-md-6">
        {% if question.answer_approved %}
        {% include './question_card.html' with question=question votable=True is_candidate=is_candidate badge_text="You've answered" badge_status="success" %}
        {% elif question.answer_pending %}
        {% include './question_card.html' with question=question votable=True is_candidate=is_candidate badge_text="Pending answer" %}
        {% elif question.author.email == user.email %}
        {% include './question_card.html' with question=question votable=True is_candidate=is_candidate badge_text="Your question" badge_status="primary" %}
        {% else %}
        {% include './question_card.html' with question=question votable=True is_candidate=is_candidate %}
        {% endif %}
      </div>

    </div>

        {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <!-- IF NOT CANDIDATE + NO Q, DISPLAY ASK Q -->
  
  {% if not is_candidate %}
{% if not has_question %}
<div class="container">
  <div class="row justify-content-center">
    <div name="ask" id="ask" class="col-sm-12 col-md-6">
    <h2>Ask your question</h2>
    <p>Please do not duplicate existing questions. <a href="info">Read more about question rules and see examples</a></p>

    <form method="post" novalidate>
      {% csrf_token %}
      {% include 'mxv/includes/form.html' %}
      <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#submitModal">
        SUBMIT
      </button>
      <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
            <h2>Please check your question</h2>
            <p>To make sure your question is approved, please check that it is:
              <ul>
                <li>New and not repeating a question asked by another member.</li>
                <li>Addressed to all candidates and not targeting or biased towards any individual candidate.</li>
                <li>In line with Momentum’s code of ethics.</li>
                <li>If not, please go back and edit your question. Once submitted, your question cannot be edited.</li>
              </ul>
            </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn mtm-btn-outline-secondary btn-block" data-dismiss="modal">Go back</button>
              <button type="submit" class="btn mtm-btn-outline-primary btn-block">SUBMIT</button>
            </div>
          </div>
        </div>
      </div>

    </form>

{% endif %}
    </div>
  </div>
{% endif %}
  
{% endblock %}