{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title%}{{ track.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review - Discuss</a></li>
    <li class="breadcrumb-item active">{{ track.name }}</li>
{% endblock %}

{% block content %}
    <table class="card-text text-muted small">
        <tr><td><b>Submissions</b></td><td>{{ track.submission_date_text }}</td></tr>
        <tr><td><b>Nominations</b></td><td>{{ track.nomination_date_text }}</td></tr>
    </table>
    <br/>
    <p class="card-text"><b>Themes:</b><i> {{ track.description }}</i></p>
    <p class="card-text">Before proceeding, you may like to check out these <a href="{% static 'review/Democracy_Review_Ideas_from_Grassroots_Activists.pdf' %}" target="_blank">Ideas from Grassroots Activists</a>.</p>
    <p class="card-text {{ track.guidance_class }}">{{ track.guidance }}</p>

    {% if show_voting and track_voting %}
        <p class="card-text {{ track_voting.guidance_class }}">{{ track_voting.guidance }}</p>
        <a href="{% url 'review:track_voting' track_voting.pk %}" class="btn btn-primary">{{ track_voting.vote_button_text }}</a>
    {% endif %}

    <div class="row">
        {% for theme in themes %}
            <div class="col-sm d-flex align-items-stretch pt-4">
                <div class="card bg-light border-secondary" style="width: 20rem;">
                    <div class="card-body">
                        <a href="{% url 'review:theme' theme.pk %}"><h4 class="card-title">{{ theme.name }}</h4></a>
                        <table class="card-text text-muted small">
                            <tr><td><b>Proposals</b></td><td>{{ theme.proposals.count }}</td></tr>
                        </table>
                        <hr>
                        <p class="card-text">{{ theme.description }}</p>
                        <div class="text-right">
                            <a href="{% url 'review:theme' theme.pk %}">View <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}