{% extends "mxv/base.html" %}
{% block nav %}
    {% include "mxv/navbar.html" %}
    {% include "mxv/messages.html" %}      
    <div class="container-full m-0 bg-light py-2" style="border-bottom: thin solid#E5E5E5;">
        <div class="pseudocontainer">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <ol class="breadcrumb p-0 m-0">
                        {% block breadcrumb %}{% endblock %}
                    </ol>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
{% block content_area %}
    <div class="container">
    {% block content %}{% endblock %}
    <br/><br/>
    {% include "mxv/footer.html" %}
    </div>   
{% endblock %}