{% extends "mxv/base.html" %}
    
{% load static %}

{% block head%}
<link rel="stylesheet" href="{% static 'css/two-frame.css' %}">
{% endblock head %}

{% block content_area %}
    <div id="two-frame">
        <div class="row no-gutters">
            <div class="col-sm-12 col-md-6 img-wrapper">
                <img id="brand" class="m-4" src={% static 'mxv/images/logo.png' %}>
            </div>
            <div class="col-sm-12 col-md-6 d-grid justify-content-center copy-wrapper">
                <div class="d-flex justify-content-start flex-column mx-5 mt-5 mb-3">
                    {% block content %}{% endblock %}
                </div>
                <div class="d-flex justify-content-end flex-column mx-5 mb-5">
                    <p id="imprint" class="small">
                        ...
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
      {
        const getImprint = async () => {
          try {
            const res = await fetch('/imprint')
            const text = await res.text()
            document.getElementById('imprint').textContent = text
          } catch (e) {
            console.log('Error:', e)
          }
        }

        getImprint()
      }
    </script>
{% endblock content_area %}
