<footer>
  <div class="container-full grey-backing pseudocontainer pt-4">
    <div class="row justify-content-center">
      <div class="col-sm-12">
        <p class="body-sm-1">Data entered on this site will be processed in accordance with our <a href="https://www.peoplesmomentum.com/privacy-policy" target="_blank">Privacy policy</a>. <span id="imprint">...</span></p>
      </div>
    </div>
  </div>
</footer>
<script>
  {
    const getImprint = async () => {
      try {
        const res = await fetch('/imprint')
        const text = await res.text()
        document.getElementById('imprint').textContent = text
      } catch (e) {
        console.log('Error:', e)
      }
    }

    getImprint()
  }
</script>
