{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title%}Home{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
    {% if show_members_card %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-6">
            <h2>Welcome to My Momentum, the digital platform that enables members to learn, organise and make decisions
                together.</h2>
        </div>    
    </div>

    <div class="row justify-content-center mb-0">

        <div class="col-sm-12 col-lg-6">
            <div class="card" id="membership-card">
                <h2 class="p-0" id="mc_fullname">
                {% if nb_full_name %}
                    {{ nb_full_name }}
                {% endif %}
                </h2> 
    
                <p class=" m-0 p-0 mc_address">{{ nb_address1 }}<br/>
                    {% if nb_address2 %}{{ nb_address2 }}<br/>{% endif %}
                    {% if nb_address3 %}{{ nb_address3 }}<br/>{% endif %}
                    {{ nb_address_city }}, {{ nb_address_postcode }}
                </p>
                <p class=" m-0 p-0" id="mc_contact">
                    <span class="primary-lighter-30">Email:</span> {{ nb_email }}<br/>
                    {% if nb_phone %} <span class="primary-lighter-30">Tel:</span> {{ nb_phone }} {% endif %}
                </p>
                <p class=" m-0 p-0" id="mc_memno">
                 {% if nb_membershipno %}
                    <span class="primary-lighter-30 m-0 p-0 label-1">
                    Membership no.:
                    </span>
                    <br>
                    {{ nb_membershipno }}
                {% endif %}
                </p>
            </div>
            <h4 class="my-2"><a href="{% url 'members:profile' %}">Update details ↷</a></h4>
            {% if show_update_subs %}
            <h4 class="my-2"><a href="{% url 'members:update_subscriptions' %}">Update subscriptions ↷</a></h4>
            {% endif %}
        </div>

    </div>

    {% endif %}

    <div class="row justify-content-center mt-0">

        <div class="col-sm-12 col-lg-6 ">
            <hr class="hr-primary mb-1"/>
            <h3 class="red">What's on</h3>
        </div>

    </div>

    {% if member_logged_in %}

        {% if member_is_dpa %}

            {% if show_policy_primary_submissions %}

        <div class="row justify-content-center mb-4">
        
            <div class="col-sm-12 col-lg-6">
                <div class="card">
                    <img class="img-fluid img-homepage" src="{% static 'mxv/images/conference.jpg' %}" />
                    <div class="card-body">
                        <div class="card-row-title">
                            <h2>Submit a motion for Labour Party conference</h2>
                        </div>
                        <div class="card-row-body">
                            <p class="body-sm-1">Your submitted motion should have been agreed by your local group at a democratic meeting.</p>
                        </div>
                    </div>
                    <div class="card-button-wrapper">
                        <a href="/app/motionsubmission" class="btn btn-outline-primary btn-block">Submit your group's motion</a>
                    </div>
                </div>
            </div>
        
        </div>

            {% endif %}
        
        {% endif %}

        {% if show_policy_primary_submissions %}

        <div class="row justify-content-center mb-4">
        
            <div class="col-sm-12 col-lg-6">
                <div class="card">
                    <img class="img-fluid img-homepage" src="{% static 'mxv/images/cardvote.jpg' %}" />
                    <div class="card-body">
                        <div class="card-row-title">
                            <h2>Submit a rule change for Labour Party conference</h2>
                        </div>
                        <div class="card-row-body">
                            <p class="body-sm-1">Members can submit rule change motions for consideration by Momentum</p>
                        </div>
                    </div>
                    <div class="card-button-wrapper">
                        <a href="/app/rulechange" class="btn btn-outline-primary btn-block">Propose a rule change</a>
                    </div>
                </div>
            </div>
        
        </div>

        {% endif %}

        {% if show_primaries %}

        <div class="row justify-content-center mb-4">
        
            <div class="col-sm-12 col-lg-6">
                <div class="card">
                    <img class="img-fluid img-homepage" src="{% static 'mxv/images/primaries.png' %}" />
                    <div class="card-body">
                        <div class="card-row-title">
                            <h2>Open primaries</h2>
                        </div>
                        <div class="card-row-body">
                            <p class="body-sm-1">Choose which policies we support at Labour Conference or who Momentum endorses in key elections.</p>
                        </div>
                    </div>
                    <div class="card-button-wrapper">
                        <a href="/app/primaries" class="btn btn-outline-primary btn-block">View</a>
                    </div>
                </div>
            </div>
        
        </div>
        
        {% endif %}

        <div class="row justify-content-center">

            <div class="col-sm-12 col-lg-6">
                <hr class="hr-primary mb-1">
                <h3 class="red">Past projects</h3>
            </div>

        </div>

        {% if show_questions %}

        <div class="row justify-content-center mb-4">

            <div class="col-sm-12 col-lg-6">
                <div class="card">
                    <img class="img-fluid img-homepage" src="{% static 'mxv/images/conversation.jpg' %}"/>
                    <div class="card-body">
                        <div class="card-row-title">
                            <h2>Questions for candidates</h2>
                        </div>
                        <div class="card-row-body">
                            <p class="body-sm-1">Your chance to ask the NCG candidates about their plans for the movement</p>
                        </div>
                    </div>
                    <div class="card-button-wrapper">
                        <a href="{% url 'questions:index' %}" class="btn btn-outline-primary btn-block">View</a>
                    </div>
                </div>
            </div>

        </div>
        {% endif %}
        
        {% if show_consultations %}
        
        <div class="row justify-content-center">

            <div class="col-sm-12 col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-row-title">
                            <h2>Previous consultations</h2>
                        </div>
                        <div class="card-row-body">
                            <p class="body-sm-1">We have run consultations on subjects that are important to our members.  We've archived results here.</p>
                        </div>
                    </div>
                    <div class="card-button-wrapper">
                        <a href="{% url 'consultations:index' %}" class="btn btn-outline-primary btn-block">View</a>
                    </div>
                </div>
            </div>

        </div>

        {% endif %}
        
        {% else %}
        
        <div class="row justify-content-center">
        
            <div class="col-sm-12">
                <p>If you’re a member of Momentum but haven't activated your account yet, just check your email for your activation link from <a href="mailto:mymomentum@peoplesmomentum.com">mymomentum@peoplesmomentum.com</a> or <a href="{% url 'members:request_activation_email' %}">request a new account activation email</a>.</p>
                <p>Not a member of Momentum yet? <a href="https://join.peoplesmomentum.com/" target="_blank">Sign up today</a> and join the discussion.</p>
            </div>
        
        </div>
        
        {% endif %}
    
    </div>
{% endblock %}
