{% load static %}

<!-- https://metatags.io/ -->

<!-- Primary Meta Tags -->
<title data-react-helmet="true">The future of our movement</title>
<meta name="title" content="The future of our movement" data-react-helmet="true">
<meta name="description" content="My Momentum, the digital platform that enables members to learn, organise and make decisions together." data-react-helmet="true">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" data-react-helmet="true">
<meta property="og:url" content="https://my.peoplesmomentum.com" data-react-helmet="true">
<meta property="og:title" content="The future of our movement" data-react-helmet="true">
<meta property="og:description" content="My Momentum, the digital platform that enables members to learn, organise and make decisions together." data-react-helmet="true">
<meta property="og:image" content="https://my.peoplesmomentum.com/static/mxv/images/ncg.jpg" data-react-helmet="true">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" data-react-helmet="true">
<meta property="twitter:url" content="https://my.peoplesmomentum.com" data-react-helmet="true">
<meta property="twitter:title" content="The future of our movement" data-react-helmet="true">
<meta property="twitter:description" content="My Momentum, the digital platform that enables members to learn, organise and make decisions together." data-react-helmet="true">
<meta property="twitter:image" content="https://my.peoplesmomentum.com/static/mxv/images/ncg.jpg" data-react-helmet="true">
