{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: thin solid #E5E5E5;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static "mxv/images/logo.png" %}" alt="Logo" style="max-width: 150px;"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="nav-item active nav-link dropdown-toggle primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if profiles_visible_to_non_staff or user.is_superuser %}
                        <li class="nav-item"><a class="nav-link p-2" href="{% url 'members:profile' %}">Profile</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link p-2" href="{% url 'password_change' %}">Change Password</a></li>
                        <li class="nav-item"><a class="nav-link p-2" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
                {% if show_inbox %}
                    <li class="nav-item"><a class="nav-link" href="/app/inbox">Inbox</a></li>
                {% endif %}
                {% if user.is_superuser %}
                    <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
                {% endif %}
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'password_reset' %}">Reset Password</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ join_url }}">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>