{% if request.get_host == "my.peoplesmomentum.com" %}
<script defer data-domain="my.peoplesmomentum.com" src="https://plausible.io/js/plausible.outbound-links.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
{% endif %}
