{% extends "mxv/base_nav.html" %}
{% load static %}
{% load consultation_filters %}

{% block title%}{{ voting_context.consultation.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'consultations:index' %}">Consultations</a></li>
    <li class="breadcrumb-item active">{{ voting_context.consultation.name }}</li>
{% endblock %}

{% block content %}

    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    
    <h3>{{ voting_context.consultation.name }}</h3>
    <br/>
        
    <p>{{ voting_context.consultation.description }}</p>
    
    <p class="{{ voting_context.consultation.guidance_class }}">{{ voting_context.consultation.guidance }}</p>
    
    {% if voting_context.consultation.pre_questions_text %}
        <p>{{ voting_context.consultation.pre_questions_text|safe }}</p>
    {% endif %}
    
    <br/><hr><br/>
    
    <form method="post" novalidate>
        {% csrf_token %}
        
        {% if voting_context.consultation.template %}
            {% include voting_context.consultation.template %}
        {% else %}
            {% for question in voting_context.consultation.questions_in_number_order %}
                {{ voting_context|question_and_choices:question.pk }}
                <br/><hr><br/>
            {% endfor %}
        {% endif %}
        
        {% if voting_context.consultation.post_questions_text %}
            <p>{{ voting_context.consultation.post_questions_text|safe }}</p>
        {% endif %}
        
        {% if not request.user.is_anonymous and voting_context.consultation.voting_in_range %}
            <br/>
            <button type="submit" name="vote" class="btn btn-primary large-button-text">Vote</button>
        {% endif %}
    </form>

{% endblock %}