{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title%}Thanks for voting!{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'consultations:index' %}">Consultations</a></li>
    <li class="breadcrumb-item"><a href="{% url 'consultations:consultation' consultation.pk %}">{{ consultation.name }}</a></li>
    <li class="breadcrumb-item active">Thanks for voting!</li>
{% endblock %}

{% block content %}

    <h2>Thank you for voting!</h2>
    
    <p>Your answers have been saved and we'll be in touch with the results very soon.</p>
    
    <br/>
    <a href="https://momentum.nationbuilder.com/election_ready_19{{ url_parameter_string}}" target="_blank" class="btn btn-success large-button-text">I'll chip in</a>
    <br/><br/><br/>
    <a href="{% url 'consultations:consultation' consultation.pk %}" class="btn btn-primary mr-4">Edit my votes</a><a href="{% url 'index' %}" class="btn btn-primary">Return to My Momentum</a>

{% endblock %}