{% extends 'mxv/base_two-frame.html' %}

{% block title %}Sign in{% endblock title %}

{% block content %}
    <h1>The future of our movement</h1>
    <p><strong>Welcome to MyMomentum, the digital platform that enables Momentum members to make decisions together.</strong></p>
    <p><strong>Not a member of Momentum yet? <a href="https://join.peoplesmomentum.com/">Join now to have your say</a>.</strong></p>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'mxv/includes/form.html' %}
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="btn btn-outline-primary btn-block">Sign in</button>
    </form>
    <br/>
    <br/>
    <p>Forgotten your password? <a href="{% url 'password_reset' %}">Reset it here</a></p>
{% endblock content %}