{% extends "mxv/base_two-frame.html" %}
{% load static %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
    <h1>You've reset your password</h1>
    <p>Your password has been reset succesfully. You can login with your new password now.</p>
    <a href="{% url 'login' %}" class="btn btn-outline-primary btn-block">Log in</a>
{% endblock %}