{% extends "mxv/base_two-frame.html" %}
{% load static %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <h4><a href="/">↶ Back</a></h4>
    <h1>Reset your password</h1>
    <p>If you're a member of Momentum and you've already activated your account but forgotten your password then use this form to reset your password.</p>
    <p>Not a member of Momentum yet? <a href="https://join.peoplesmomentum.com/" target="_blank">Sign up today</a> and join the discussion.</p>
    <br/>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'mxv/includes/form.html' %}
            <button type="submit" class="btn btn-outline-primary btn-block">Reset password</button>
    </form>
{% endblock %}