{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title %}Change password{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">    
        <h4><a href="/">↶ Back</a></h4>
        <h1>Change your password</h1>
        <p>Please use the form below to change your password</p>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'mxv/includes/form.html' %}
                <button type="submit" class="btn btn-outline-primary btn-block">Change password</button>
        </form>
        </div>  
    </div>
{% endblock %}