{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title %}Password changed{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6"> 
            <a href="/" class="btn btn-outline-primary btn-block">Return to {{ site_name_long }}</a>
            <p>Password changed</p>
        </div>
    </div>
{% endblock %}