{% extends "mxv/base_two-frame.html" %}
{% load static %}

{% block title %}Password reset requested{% endblock %}

{% block content %}
    <h4><a href="{% url 'login' %}">↶ Return to login</a></h4>
    <h1>You've reset your password</h1>
    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered.  You should receive them shortly.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with and check your spam folder. Be sure to search for an email from <a href="#">mymomentum@peoplesmomentum.com</a>.</p>
    <p>If you’re a member of Momentum but haven't activated your account yet, check your email for your activation link from <a href="#">mymomentum@peoplesmomentum.com</a> or <a href="{% url 'members:request_activation_email' %}">request a new account activation email</a>.</p>
{% endblock %}