{% extends "mxv/base_two-frame.html" %}
{% load static %}

{% block title %}Confirm password reset{% endblock %}

{% block content %}
    {% if validlink %}
        <h1>Confirm your password reset</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'mxv/includes/form.html' %}
            <button type="submit" class="btn btn-outline-primary btn-block">Change password</button>
        </form>
    {% else %}
        <h1>Invalid password reset link</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        <a href="{% url 'password_reset' %}" class="btn btn-outline-primary btn-block">Request new password reset link</a>
    {% endif %}
{% endblock %}