{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title%}{{ voting_context.track_voting.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:voting' %}">Democracy Review - Vote</a></li>
    <li class="breadcrumb-item active">{{ voting_context.track_voting.name }}</li>
{% endblock %}

{% block content %}

    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    
    <table class="card-text text-muted small mb-4">
        <tr><td><b>Voting</b></td><td>{{ voting_context.track_voting.voting_date_text }}</td></tr>
    </table>
    
    <form method="post" novalidate>
        {% csrf_token %}
        {% include voting_context.track_voting.template %}
        {% if not request.user.is_anonymous and voting_context.track_voting.voting_in_range %}
            <br/>
            <button type="submit" name="vote" class="btn btn-primary large-button-text">Vote</button>
        {% endif %}
    </form>

{% endblock %}