{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title%}Labour’s Democracy Review - Platform FAQ{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review - Discuss</a></li>
    <li class="breadcrumb-item active">Labour’s Democracy Review - Platform FAQ</li>
{% endblock %}

{% block content %}
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary mb-3">Back</a>
    
    <h4>Using My Momentum for the Democracy Review - FAQs</h4>
    <br/>
    
    <h6>a) What is the democracy review?</h6> 
    <p>After conference, the Labour Party launched the Democracy Review which will address a broad range of areas of party reform. By consulting with members, CLPS and trade union affiliates, Labour will canvass your opinion on how we can transform Labour into a 21st century, social movement style party.</p>
    <br/>

    <h6>b) Why is it important?</h6> 
    <p>The review is an unprecedented opportunity for ordinary members to input into the culture, rules and structure of the Labour Party, and to build a groundswell of support for a new kind of political party that can win the next election and transform Britain at every level.</p>
    <br/>

    <h6>c) Why should I submit my ideas to Momentum’s platform?</h6>
    <p>By submitting it into Momentum’s Digital Democracy Review platform, you will be able to generate a broader discussion of your ideas, and potentially build up a consensus of support behind them. If your ideas are then adopted as finalised Momentum submissions, they will be circulated to all members, who will be encouraged to submit them directly and through their CLPs, and will therefore be likely to obtain a higher number of submissions into the Review. Of course, participating in Momentum’s Digital Democracy Review does not prevent Momentum and Labour Party members from submitting the proposal into the Review directly.</p> 
    <br/>

    <h6>d) Do all proposals have to propose specific rule changes, and do they have to use ‘rule book’ language?</h6>
    <p>No. The most important thing is for the precise objective of the proposal to be clearly outlined, and good suggestions can of course be refined down the line in order to make them viable and bring them into line with the Rule Book if necessary. However, if members want to propose specific detailed rule changes, that is also fine.</p> 
    <br/>

    <h6>e) What are the moderating rules?</h6> 
    <p>All proposals, comments, and suggested amendments need to be in line with Momentum’s <a href="http://www.peoplesmomentum.com/ethics" target="_blank">Code of Ethics</a>, as well as being within the remit of the Democracy Review. Proposals contravening the Code of Ethics or which are clearly not attempts to advance serious discussions about party democracy will be removed. The moderation policy is available <a href="{% url 'review:moderation' %}">here</a>, and it is the collective responsibility of all Momentum members to ensure it is implemented by flagging up contributions which don’t adhere to these rules.</p>
    <br/>

    <h6>f) What if I am stuck for ideas for proposals?</h6> 
    <p>If you are stuck for ideas, contacting your local Momentum group or CLP to discuss, and please also see our <a href="{% static 'review/Democracy_Review_Ideas_from_Grassroots_Activists.pdf' %}">Ideas from Grassroots Activists</a> document. Rule changes which have been submitted by CLPs into the annual Labour Party Conference can also be re-submitted into Momentum’s <a href="{% url 'review:index' %}">Digital Democracy</a> platform if members want to ensure they are returned to the party reform agenda.</p>
    <br/>

    <h6>g) How many proposals can each member make?</h6>
    <p>Each member can make one proposal per theme.</p> 
    <br/>

    <h6>h) What is the point of the nominations system?</h6>
    <p>The point of the nominations system is to provide strong indications to the NCG and Momentum membership what the most popular proposals are.</p> 
    <br/>

    <h6>i) How many nominations does a proposal have to get to be considered seriously by the NCG?</h6>
    <p>All proposals will be considered, but proposals with high numbers of nominations will be given preference by the NCG, and their proposers will be directly consulted during the formulation of the finalised submissions before putting them to an all member ballot.</p> 
    <br/>

    <h6>j) Who decides which proposals get put the final OMOV vote?</h6> 
    <p>A panel of NCG representatives will decide which proposals get put to a final all member ballot. A staff member will consult the proposers of the most popular proposals in each theme on behalf of the NCG before drafting the finalised proposals. The NCG panel shall have authority to decide which parts of proposals are put into finalised submissions which are put to the vote.</p> 
    <br/>

    <h6>k) What happens to proposals once they are approved as official Momentum submissions?</h6> 
    <p>They will be sent to all Momentum members, who will be encouraged to submit them directly into the Democracy Review as individuals, as well as to pass them through their CLPs to submit into the Review.</p> 
    <br/>

    <h6>l) Why don’t proposals from the NCG or Members’ Council receive nominations?</h6> 
    <p>As the leading democratic body of Momentum and the key advisory body, proposals from the NCG and Members’ Council will automatically be considered by the NCG panel before being put to an OMOV Ballot. However, members can still suggest amendments to them and make comments on them.</p>
    <br/>

    <h6>m) What about submissions under Track 1 (BAME Labour, Young Labour, Women’s Conference)?</h6> 
    <p>The official deadline for Track 1 submissions passed on January 12th. However, CLPs can still submit proposals under Track 1 after that deadline, and discussions over the three themes will continue as well. For this reason, Momentum members can use the <a href="{% url 'review:index' %}">Digital Democracy</a> platform to suggest amendments to Momentum’s <a href="http://www.peoplesmomentum.com/democracy-review" target="_blank">recommended submissions</a> under these three areas.</p>
    <br/>

    <h6>n) How do local Momentum groups make submissions?</h6> 
    <p>At the launch of the platform, only individual members will be able to make proposals. However we are looking at allowing key contacts in each group to make proposals on behalf of groups. This functionality will be available shortly.</p>  
    <br/>

    <h6>o) Who is allowed to participate?</h6>
    <p>All Momentum members are allowed to participate. Members who breach the code of ethics or terms of Momentum’s constitution may have their access withdrawn.</p>
    <br/>

    <h6>p) I’ve had a really good idea but the deadline has passed. What should I do?</h6>
    <p>The deadline may have passed but the debate will continue! Please email your thoughts to <a href="mailto:transforminglabour@peoplesmomentum.com">transforminglabour@peoplesmomentum.com</a></p>  
 {% endblock %}