{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title%}Guide to Making a Proposal{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review - Discuss</a></li>
    <li class="breadcrumb-item active">Guide to Making a Proposal</li>
{% endblock %}

{% block content %}
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary mb-3">Back</a>
    
    <h4>Before making a proposal, please consider the following questions:</h4>
    <br/>

    <h6>a) Is my proposal relevant to the Democracy Review?</h6> 
    <p>Proposals should all be submitted within the <a href="{% static 'review/Democracy_Review_Explainer_to_Members.pdf' %}">current remit of the Democracy Review</a>. They should attempt to address broad issues and be relevant on a national scale. People who want to comment on experiences which are locally specific can make comments in the appropriate forum (e.g. people can comment on difficulties they have had in their CLPs in the comments section of the CLP Governance theme, rather than submitting a proposal on that basis.</p> 
    <br/>

    <h6>b) Has anyone already suggested something similar?</h6>
    <p>Because the objective of this process is to encourage a discussion about clear alternatives, members and groups should try to avoid duplicating efforts by other members, groups, the NCG or Members’ Council. If someone has already made a similar proposal to the one you would like to make, it might be better to suggest amendments to theirs rather than duplicating efforts.</p> 
    <br/>

    <h6>c) Can I express this proposal clearly and succinctly?</h6>
    <p>In order to make sure as many people as possible consider the content of your proposal, try to keep it as short as possible and make sure that its purpose is clearly expressed. Although it may be necessary to use legal jargon if you are advocating specific rule changes, make sure you make it clear in the supporting arguments what the meaning of that is.</p> 
    <br/>

    <h6>d) Have I picked the right theme to submit this proposal?</h6>
    <p>Try to make sure you submit your proposal under the correct theme in the Democracy Review remit. If you have any questions, write into <a href="mailto:transforminglabour@peoplesmomentum.com">transforminglabour@peoplesmomentum.com</a>.</p> 
    <br/>

    <h6>e) Am I choosing language that reflects the spirit of my proposal?</h6>
    <p>Please make sure that you choose language that reflects the inclusive and positive culture we would all like to see in the Labour Party. All proposals must be in line with Momentum’s <a href="http://www.peoplesmomentum.com/ethics" target="_blank">Code of Ethics</a>, and proposals which contravene this will be removed.</p> 

{% endblock %}