{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title%}Labour’s Democracy Review - How to use our platform{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review - Discuss</a></li>
    <li class="breadcrumb-item active">Labour’s Democracy Review - How to use our platform</li>
{% endblock %}

{% block content %}
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary mb-3">Back</a>
    
    <h4>How it works</h4>
    <p>Momentum members can use our <a href="{% url 'review:index' %}">Democracy Review</a> platform to: 1) Make proposals, 2) Make comments, 3) Propose amendments, 4) Make nominations, and 5) Vote on our final submissions.</p>
    <br/>

    <h6>1) Make Proposals</h6>
    <p>Proposals are any contributions which put forward any new ideas by members. Members can make one proposal per theme, and they can also be submitted by local Momentum groups, as well as by the National Coordinating Group (NCG) and the Members’ Council. Proposals must be made within certain deadlines (the deadline to make proposals for Track 3 submissions is midnight Friday 23rd March). Before making a proposal, please see <a href="{% url 'review:guide' %}">our recommendations for proposers</a>.</p>
    <br/>

    <h6>2) Make Comments</h6>
    <p>The purpose of comments is to allow members to express support, disagreement, or to share experiences and thoughts which are relevant to any given proposal. Any disagreements should be expressed in terms which are respectful and comradely.</p>
    <br/>

    <h6>3) Propose Amendments</h6>
    <p>Momentum members have the option of suggesting amendments to all proposals, including ones made by other members and groups, ones made by the National Coordinating Group (NCG) and Members’ Council, as well as Momentum’s recommended submissions for Track 1 (BAME Labour, Young Labour, and Women’s Conference). In all cases, the original proposers shall have authority over whether or not to accept amendments. For Track 3 submissions, the amendments shall be allowed anytime until midnight Friday 23rd March.</p>
    <br/>

    <h6>4) Make Nominations</h6>
    <p>The purpose of nominating in the Digital Platform is to give a clear indication to Momentum’s NCG which are the most popular proposals. Each Momentum member has one nomination in each of the 10 themes of Track 2 and Track 3 in the Democracy Review. They can nominate at anytime between Monday 29th January and Friday 16th February for Track 2 submissions, and anytime between Friday 2nd February and Friday 30th March for Track 3, and they can change their nominations as many times as they want to between those dates.</p>
    <br/>

    <h6>5) Final OMOV Ballots</h6>
    <p>The most popular proposals in each category will be submitted to Momentum’s National Coodinating Group (NCG). The final versions will then put to an OMOV Ballot of members, before being approved officially by Momentum.</p>
    <br/>

    <h6>Timeline</h6>
    <p>For a full timeline, please click <a href="{% static 'review/Democracy_Review_Timeline.pdf' %}" target="_blank">here</a>. We acknowledge that the deadlines for Track 2 are extremely tight, and would like to apologise for this. The reason is the importance of being able to circulate finalised submissions in time for activists to be able to pass them through CLPs before the 23rd March deadline.</p> 
    <br/>

    <h6>Any Questions?</h6>
    <p>Please see our <a href="{% url 'review:faq' %}">FAQs</a>.</p>
{% endblock %}