@import "typography";
@import "variables";

h1 {
  @extend .hed-1;
}

h2 {
  @extend .hed-2;
  margin: 15px 0px;
}

h3 {
  @extend .hed-3;
}

h4 {
  @extend .hed-4;
}

p {
  @extend .body-1;
  word-wrap: break-word;
}

p>strong {
  font-weight: 500;
}

a { 
  color: $primary; 
  transition: color 0.1s ease-in-out;
  &:hover {
    color: $primary-lighter-10;
  }
}

li {
  @extend .body-1;
}

hr {
  border-top: 1px solid $mtm-neutral-375;
  &.hr-primary {
    border-top: 2px solid $red;
  }
}

// component elements

.form-group {
  label {
    @extend .label-1;
  }
  
  select {
    @extend .custom-select;
    border-radius: 7px;
    border: 1px solid $primary;
    background-color: $primary;
    color: $mtm-neutral-000;
    text-transform: none !important; 
    letter-spacing: 0.02em;
    white-space: nowrap;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5' %3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
    transition: color .3s, background-color .3s, background-image .3s;
    &:hover, &:focus{
      background-color: $mtm-neutral-000;
      color: $primary;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5' %3e%3cpath fill='%23FF0F80' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
    }
  }
  option {
    @extend .body-1;
    color: black !important;
  }
}

.form-check {
  display: grid;
  padding-left: 0px;
}

footer {
  background-color: $mtm-neutral-100;
  box-shadow: 0 50vh 0 50vh $mtm-neutral-100;
}


.card {
  $border-radius: 7px;
  border-radius: $border-radius;
  .img-fluid {
    border-radius: $border-radius $border-radius 0px 0px;
  }
}
.dropdown-toggle {
  white-space: normal;
  max-width: 80vw;
}
.dropdown-item {
  @extend .label-1;
  color: $mtm-neutral-400;
  max-width: 80vw;
  white-space: unset;
  padding: 15px;
}

.dropdown-divider {
  margin: 0px;
}

.dropdown-menu {
  padding: 0px;
}

.btn {
  background-color: $mtm-neutral-000;
}

.sticky {
  position: sticky;
  top: 90px;
}

.navbar {
  position: sticky;
  top: 0;
}

.breadcrumb {
  background: none;
  .breadcrumb-item {
    @extend .label-2;
  }
  .breadcrumb-item>a {
    color: $primary;
  }
  .breadcrumb-item.active {
    color: $primary-lighter-10;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
  }
}