@import "utils";


.hed-1 {
  @include font-normal(700);
  font-size: 29px;
  line-height: 108.5%;
  letter-spacing: -0.03em;
  letter-spacing: -0.03em;
  @media screen and (min-width: 1000px) {
    font-size: 35px;
  }
}

.hed-2 {
  @include font-normal(500);
  font-size: 22px;
  line-height: 128%;
}

.hed-3 {
  @include font-normal(500);
  font-size: 16px;
  line-height: 128%;
}

.hed-4 {
  @include font-normal(500);
  font-size: 14px;
  line-height: 18px;
}

.hed-5 {
  // used for .card h5
  @include font-normal(500);
  font-size: 20px;
  line-height: 100%;
}


.label-1 {
  @include font-normal(500);
  font-size: 14px;
  letter-spacing: -0.01em;
}

.label-2 {
  @include font-normal(500);
  font-size: 12px;
  line-height: 133%;
}

.label-3 {
  @extend .label-2;
  color: $primary;
  text-decoration: underline;
}

.label-4 {
  @include font-normal(500);
  font-size: 14px;
  line-height: 128%;
}

.body-1 {
  @include font-normal();
  font-size: 16px;
  line-height: 135%;
}

.body-2 {
  @include font-normal();  
  font-size: 16px;
  line-height: 128%;
}

.body-strong-1 {
  @extend .body-1;
  @include font-normal(500);
}

.body-sm-1 {
  @include font-normal();
  font-size: 12px;
  line-height: 133%;
}

.body-sm-1-bold {
  @extend .body-sm-1;
  @include font-normal(500);
}

.body-xs-1 {
  @include font-normal();
  font-size: 9px;
  line-height: 150%;
}

.primary {
  color: $primary !important;
}

.primary-lighter-30 {
  color: $primary-lighter-30 !important;
}

.secondary {
  color: $secondary;
}

.gray-100 {
  color: $gray-100 !important;
}
.gray-200 {
  color: $gray-200 !important;
}
.gray-300 {
  color: $gray-300 !important;
}
.gray-400 {
  color: $gray-400 !important;
}
.gray-500 {
  color: $gray-500 !important;
}
.gray-600 {
  color: $gray-600 !important;
}
.gray-700 {
  color: $gray-700 !important;
}
.gray-800 {
  color: $gray-800 !important;
}
.gray-900 {
  color: $gray-900 !important;
}

.red {
  color: $red;
}

.success {
  color: $success;
}