html {
  overflow-x: hidden;
}


#two-frame{

  #brand {
    height: 43px;
    margin-left: 28px !important;
    margin-top: 30px !important;
  }

  .col-sm-12.img-wrapper {
    background-color: #f4eff0;
    display: flex;
    justify-content: center;
  }

  .col-sm-12.copy-wrapper {
    >* {
      max-width: 600px;
    }
  }

  @media (min-width: 768px) {
    .col-sm-12.img-wrapper {
      height: 100vh;
      background-image: url('../mxv/images/ncg.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      justify-content: unset;
    }
  }
}