{% extends "mxv/base_two-frame.html" %}

{% load static %}

{% block title %}Activate{% endblock %}

{% block content %}
    <h1>Welcome to {{ site_name_long }}.</h1>
    <h4>Hi {{ member.name }}.</h4>
    <p>MyMomentum is the digital platform that enables Momentum members to make decisions together.</p>
    <p>Choose a password and we'll log you in:</p>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'mxv/includes/form.html' %}
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="btn btn-outline-primary btn-block">Set password</button>
    </form>
{% endblock %}