{% extends "mxv/base_nav.html" %}

{% block title %}Change login email{% endblock %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            <h4><a href="{% url 'login' %}">↶ Return to login</a></h4>
            <p>Enter the email address which you would like to use to login to this site in future.</p>
            <p>A verification email will be sent to this address and you will have to click the link in it before you can use this new login email.</p>
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'mxv/includes/form.html' %}
                <button type="submit" class="btn btn-outline-primary btn-block">Change login email</button>
            </form>
        </div>
    </div>
{% endblock %}