{% extends "mxv/base_two-frame.html" %}
{% load static %}

{% block title %}Request activation email{% endblock %}

{% block content %}
  <h4><a href="{% url 'login' %}">↶ Return to login</a></h4>
  <h1>Activation email sent</h1>
  <p>Thanks for requesting an activation email. If you haven't activated your account, you will receive an activation email, so please check your inbox and spam folders for any mail from <a href="#">mymomentum@peoplesmomentum.com</a>.</p>
  <p>If you don't receive an email, please email <a href="mailto:membership@peoplesmomentum.com">membership@peoplesmomentum.com</a>.</p>
{% endblock %}