{% extends "mxv/base_nav.html" %}
{% load static widget_tweaks %}

{% block title %}Profile{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Profile</li>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            <h4><a href="/">↶ Back</a></h4>
            {% if not member_in_nation_builder %}
                <p>Can't look up profile, please contact Momentum and let them know: <a href="{{ error_mailto }}">membership@peoplesmomentum.com</a></p>
            {% elif nation_builder_busy %}
                <p>Whoops, lots of people are getting involved at the moment and there was an error. Click <a href="{{ page_url }}">here</a> to try again.</p>
            {% else %}
                <form method="post" novalidate>
                    {% csrf_token %}
                    
                    <!-- name -->
                    {% include 'mxv/includes/form_field.html' with field=form.person__first_name %}
                    {% include 'mxv/includes/form_field.html' with field=form.person__last_name %}
                    
                    <!-- extra fields -->
                    {% include 'mxv/includes/form.html' with exclude_from_form=exclude_from_form %}
                    <!-- emails -->
                    <hr/>
                    {% include 'mxv/includes/form_field.html' with field=form.email|attr:"readonly:True" %}
                    {% if not hide_other_email %}
                        {% include 'mxv/includes/form_field.html' with field=form.person__email|attr:"readonly:True" %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="other_email" value="replace_other_with_login" class="mb-2 mr-2" id="other_email_replace"><label for="other_email_replace">Replace this other email with the login email</label><br>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="other_email" value="use_other_as_login" class="mb-4 mr-2" id="other_email_use"><label for="other_email_use">Use this other email as the login email instead</label><br>
                        </div>
                    {% else %}
                        <input type="hidden" name="hide_other_email">
                        <a href="{% url 'members:change_login_email' %}" class="btn mtm-btn-outline-secondary btn-block">Change login email</a>
                    {% endif %}
                    
                    <button type="submit" class="btn btn-outline-primary btn-block">Save changes</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}