{% extends "mxv/base_two-frame.html" %}

{% load static %}

{% block title %}Request activation email{% endblock %}

{% block content %}
        <h4><a href="{% url 'login' %}">↶ Return to login</a></h4>
        <h1>Activate your account</h1>
        <p>If you’re a member of Momentum but haven't activated your account yet, use this form to request a new account activation email.</p>
            <br/>
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'mxv/includes/form.html' %}
                 <button type="submit" class="btn btn-outline-primary btn-block">Request activation email</button>
            </form>

{% endblock %}