{% extends "mxv/base_nav.html" %}
{% load static widget_tweaks %}

{% block title %}
    {% if context.new_subs %}
        Thank you for updating your subscription
    {% else %}
        Update Subscriptions
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {% if context.new_subs %}
        <li class="breadcrumb-item active">Subscription Updated</li>
    {% else %}
        <li class="breadcrumb-item active">Update Subscriptions</li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if context.new_subs %}
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6">
                <table><tr><th><a href="/">↶ Home</a></th><th> | </th></tr></table>
                <hr>
                {% if context.upgrade %}
                    <p>Thank you so much, {{context.first_name}}, for increasing your subscription from : </p>
                    <p><strong>£{{context.current_subs}} {{context.current_frequency}} to £{{context.new_subs}} monthly.</strong></p>
                    <p>Your generosity will enable us to do more!</p>
                    <hr>
                {% else %}
                    <p>We are sorry, {{context.first_name}}, that you have reduced your subscription from : </p>
                    <p><strong>£{{context.current_subs}} {{context.current_frequency}} to £{{context.new_subs}} monthly.</strong></p>
                    <p>We rely upon the contributions from our members to fund our many activities, and hope that you will be able to increase your subscription in the near future.</p>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6">
                <h4><div style="float: left"><a href="/">↶ Back</a></div><div style="float: right"><a href="/members/profile/">Update Details</a></div></h4>

                <br/>

                {% if context.message %}
                    <p>Sorry! Something went wrong!</p>
                    <p>{{context.message}}, please contact our digital team and let them know: <a href="{{ context.error_mailto }}">digital@peoplesmomentum.com</a></p>
                {% else %}
                    <p>Hello {{context.first_name}}</p>
                    <p style="font-size:66%";>(not {{context.email}}?, please <a href="/members/logout/">click me!</a>)</p>
                    <p>Your current subscription level is </p>

                    <p><strong>£{{context.current_subs}} {{context.current_frequency}} via {{context.processor}}</strong>{% if context.current_frequency == 'yearly' %} about £{{context.approx_current_monthly_subs}} monthly{% endif %}</p>

                    <p>
                        Can you help build the movement by upping your subscription to £{{context.ask_amount}} per month?
                    </p>

                    <p>
                        By doing this you'll help us defend and strengthen Left power bases locally and within Labour, and you'll help us train, select and elect the next generation of socialist leaders, as we prepare to take on the Tories at the next election.
                    </p>

                    <p>
                        We can't do this without you - we can't let everything we've built disappear. Together let's Keep Up Momentum.
                    </p>

                    <form action="{% url 'members:update_subscriptions' %}" method="post">
                        {% csrf_token %}
                        <div>
                            <div>
                                {% if context.suggested_amounts %}
                                    <div class="radio-inline donation-v2-amounts">
                                        {% for value in context.suggested_amounts %}
                                            <input
                                                type="radio"
                                                id="donation_amount_{{value}}"
                                                name="donation_amnt_opt"
                                                value="{{value}}"
                                                {% if value == context.suggested_subs %}checked{% endif %}
                                            >
                                            <label for="donation_amount_{{value}}">
                                                £{{value}}
                                                {% if context.current_frequency == "yearly" %}monthly{% endif %}
                                            </label>
                                            <br>
                                        {% endfor %}
                                    </div>
                                    <p>Or enter a custom amount below:</p>
                                {% endif %}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text body-1-mb">£</span>
                                    </div>
                                    <input
                                        step="any"
                                        min="{{context.min_subs}}"
                                        max="5000"
                                        class="body-1-mb custom-amount-number validate form-control"
                                        type="number"
                                        name="new_subs"
                                        id="id_new_subs"
                                        {% if not context.suggested_amounts %}
                                            value="{{context.suggested_subs}}"
                                        {% endif %}
                                    />
                                    <div class="input-group-append">
                                        <span class="input-group-text body-1-mb">per month</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-primary btn-block">
                            Update Subscription
                        </button>
                    </form>

                    {% if context.processor == "paypal" %}
                        <p><em>Please note that due to the cost of processing the payments we no longer accept PayPal (which you used previously). We will transfer your subscription to GoCardless.</em></p>
                        {% if context.current_frequency == "yearly" %}
                            <p><em>Please also note that when you update your subscriptions, we will change your payments from yearly to monthly, based on the amount you chose to pay. Contact digital@peoplesmomentum.com if you have any concerns.</em></p>
                        {% endif %}
                    {% else %}
                        {% if context.current_frequency == "yearly" %}
                            <p><em>Please note that when you update your subscriptions, we will change your subscriptions from yearly to monthly. Contact digital@peoplesmomentum.com if you have any concerns.</em></p>
                        {% endif %}
                    {% endif %}

                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}
