{% extends "mxv/base_nav.html" %}
{% load static widget_tweaks %}

{% block title %}Update details{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            {% if not user_in_nation_builder %}
                <p>Can't look up details, please contact Momentum and let them know: <a href="{{ error_mailto }}">membership@peoplesmomentum.com</a></p>
            {% elif nation_builder_busy %}
                <p>Whoops, lots of people are getting involved at the moment and there was an error. Click <a href="{{ page_url }}">here</a> to try again.</p>
            {% else %}
                <h5>Page {{ page }} of 2</h5><br/>
                <form method="post" novalidate>
                    {% csrf_token %}
                    
                    <!-- tag group forms -->
                    {% for tag_group in tag_groups %}
                        <hr>
                        <p>{{ tag_group.header|safe }}</p>
                        {% include 'mxv/includes/three_column_form.html' with form=tag_group.form exclude_from_form=exclude_from_form %}
                        <p>{{ tag_group.footer|safe }}</p>
                    {% endfor %}
                    
                    <!-- fields form -->
                    {% if fields_form %}
                        <p>{{ fields_page_header|safe }}</p>
                        <hr>
                        {% include 'mxv/includes/form.html' with form=fields_form exclude_from_form=exclude_from_form %}
                        <hr>
                        <p>{{ fields_page_footer|safe }}</p>
                    {% endif %}
                    
                    <button type="submit" class="btn btn-outline-success btn-block">{% if page == 1 %}Next{% else %}Update your details{% endif%}</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}