{% extends "mxv/base_nav.html" %}

{% block title %}Verify login email{% endblock %}

{% block content %}
    <div class="row justify-content-center ">
        <div class="col-sm-12 col-md-6">
            {% if verification_key_found %}
                <p>Enter your password to verify your login email.</p>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'mxv/includes/form.html' %}
                    <button type="submit" class="btn btn-outline-primary btn-block">Verify new login email</button>
                </form>
            {% else %}
                <p>Verification link not recognised - did you already verify your new login email?</p>
                <p>If you did then try logging in with that email, if not then your old login email address will still work.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}