{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title%}Delete{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review - Discuss</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:track' proposal.theme.track.pk %}">{{ proposal.theme.track.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:theme' proposal.theme.pk %}">{{ proposal.theme.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:proposal' proposal.pk %}">{{ proposal.name }}</a></li>
    <li class="breadcrumb-item active">Delete</li>
{% endblock %}

{% block content %}
    <table class="card-text text-muted small">
        <tr><td><b>Created by</b></td><td>{{ proposal.created_by.name }}</td></tr>
        <tr><td><b>Created at</b></td><td>{{ proposal.created_at }}</td></tr>
        <tr><td><b>Nominations</b></td><td>{{ proposal.nominations.count }}</td></tr>
        <tr><td><b>Amendments</b></td><td>{{ proposal.amendments.count }}</td></tr>
        <tr><td><b>Comments</b></td><td>{{ proposal.comments.count }}</td></tr>
    </table>
    <hr>
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'mxv/includes/form.html' %}
        <button type="submit" class="btn btn-danger">Delete this proposal?</button>
        <a href="{% url 'review:proposal' proposal.pk %}" class="btn btn-primary">Cancel</a>
    </form>    
{% endblock %}