{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title%}{{ proposal.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review - Discuss</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:track' proposal.theme.track.pk %}">{{ proposal.theme.track.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:theme' proposal.theme.pk %}">{{ proposal.theme.name }}</a></li>
    <li class="breadcrumb-item active">{{ proposal.name }}</li>
{% endblock %}

{% block content %}
    <table class="card-text text-muted small">
        <tr><td><b>Created by</b></td><td>{{ proposal.created_by.name }}</td></tr>
        <tr><td><b>Created at</b></td><td>{{ proposal.created_at }}</td></tr>
        {% if proposal.theme.track.allow_nominations %}<tr><td><b>Nominations</b></td><td>{{ proposal.nominations.count }}</td></tr>{% endif %}
        {% if proposal.theme.track.allow_submissions %}<tr><td><b>Amendments</b></td><td>{{ proposal.amendments.count }}</td></tr>{% endif %}
        <tr><td><b>Comments</b></td><td>{{ proposal.comments.count }}</td></tr>
        {% if not proposal.created_by.is_ncg and not proposal.created_by.is_members_council %}<tr class="{% if proposal.moderation_requests.count > 0 %}text-danger{% endif %}"><td><b>Moderation requests</b></td><td>{{ proposal.moderation_requests.count }}</td></tr>{% endif %}
    </table>
    <br>
    
    <form method="post" novalidate>
        {% csrf_token %}
        
        {% if not proposal.moderated %}
            {% include 'mxv/includes/form.html' %}
        {% else %}
            <p class="text-danger">Moderated.  Posts or comments that breach Momentum's code of ethics, or are not relevant to the Democracy Review's remit, will be removed.</p>
        {% endif %}
        
        {% if not proposal.moderated and proposal.theme.track.nominations_currently_allowed %}
            {% if proposal.created_by.is_ncg %}
                <p>Nominations are not necessary for proposals made by the National Coordinating Group.</p>
            {% elif proposal.created_by.is_members_council %}
                <p>Nominations are not necessary for proposals made by the Members' Council.</p>
            {% else %}
                {% if proposal.created_by != user %}
                    {% if user_nominated %}
                        <button type="submit" name="clear_nomination" class="btn btn-primary mr-4">Stop nominating this proposal</button>
                    {% else %}
                        <button type="submit" name="nominate" class="btn btn-success mr-4">Nominate this proposal</button>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            {% if user_nominated %}
                <p>You have nominated this proposal.</p>
            {% endif %}
        {% endif %}
        
        {% if not proposal.moderated and not proposal.created_by.is_ncg and not proposal.created_by.is_members_council and proposal.created_by != user %}
            {% if not moderation %}
                <a href="{% url 'review:moderate_proposal' proposal.pk %}" class="btn btn-danger">Request moderation</a>
            {% else %}
                <br/>
                <p class="text-danger">You have requested moderation of this proposal for the following reason:</p>
                <blockquote class="blockquote">
                    <p class="text-danger small">{{ moderation.reason }}</p>
                </blockquote>
                <p class="text-danger">Only you and the moderator can see this moderation request.</p>
                <button type="submit" name="turn_moderation_into_comment" class="btn btn-success mr-4">Turn this into a comment instead</button>
                <button type="submit" name="cancel_moderation" class="btn btn-primary">Cancel moderation request</button>
            {% endif %}
        {% endif %}
    
    </form>    
    
    {% if proposal.theme.track.submissions_currently_allowed and proposal.created_by == user %}
        <br/>
        {% if not proposal.moderated %}
            <a href="{% url 'review:edit_proposal' proposal.pk %}" class="btn btn-success mr-4">Edit</a>
        {% endif %}
        <a href="{% url 'review:delete_proposal' proposal.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}

    {% if proposal_urls.count > 0 %}
        <br/>
        <h6 class="card-text text-muted">Related items</h6>
        <ul>
        {% for url in proposal_urls %}
            <li><a href="{{ url.url }}" target="_blank">{{ url.display_text }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    
    <hr>
    <div class="row card-text text-muted">
        {% if proposal.theme.track.show_comments %}
            <div class="col-sm">
                <h4>Comments</h4>
                {% if proposal.theme.track.allow_comments %}
                    <p class="small">Please comment on the above proposal but be aware that comments cannot be deleted or edited once made.</p>
                    <a href="{% url 'review:new_comment' proposal.pk %}" class="btn btn-success">New comment</a>
                {% endif %}
                {% for comment in comments %}
                    <div class="card bg-light border-secondary mt-4" style="">
                        <div class="card-body">
                            <table class="small">
                                <tr><td><b>Created by</b></td><td>{{ comment.created_by.name }}</td></tr>
                                <tr><td><b>Created at</b></td><td>{{ comment.created_at }}</td></tr>
                                <tr class="{% if comment.moderation_requests.count > 0 %}text-danger{% endif %}"><td><b>Moderation requests</b></td><td>{{ comment.moderation_requests.count }}</td></tr>
                            </table>
                            <hr>
                            {% if not comment.moderated %}
                                <p class="card-text">{{ comment.text|truncatechars:1000 }}</p>
                            {% else %}
                                <p class="text-danger">Moderated.  Posts or comments that breach Momentum's code of ethics, or are not relevant to the Democracy Review's remit, will be removed.</p>
                            {% endif %}
                            <div class="text-right">
                                <a href="{% url 'review:comment' comment.pk %}">View <i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <br/><br/>
            </div>
        {% endif %}
        
        {% if proposal.theme.track.show_amendments %}
            <div class="col-sm">
                <h4>Amendments</h4>
                {% if proposal.theme.track.submissions_currently_allowed %}
                    <p class="small">Please suggest amendments to constructively develop the above proposal. You can edit or delete your own amendments while submissions are open.</p>
                    <a href="{% url 'review:new_amendment' proposal.pk %}" class="btn btn-success">New amendment</a>
                {% else %}
                    <p class="small">Amendments are not currently allowed in this track.</p>
                    <br/><br/><br/>
                {% endif %}
                {% for amendment in amendments %}
                    <div class="card bg-light border-secondary mt-4" style="">
                        <div class="card-body">
                            <a href="{% url 'review:amendment' amendment.pk %}">
                                {% if not amendment.moderated %}
                                    <h4 class="card-title">{{ amendment.name }}</h4>
                                {% else %}
                                    <p class="text-danger">Moderated.</p>
                                {% endif %}
                            </a>
                            <table class="small">
                                <tr><td><b>Created by</b></td><td>{{ amendment.created_by.name }}</td></tr>
                                <tr><td><b>Created at</b></td><td>{{ amendment.created_at }}</td></tr>
                                <tr class="{% if amendment.moderation_requests.count > 0 %}text-danger{% endif %}"><td><b>Moderation requests</b></td><td>{{ amendment.moderation_requests.count }}</td></tr>
                            </table>
                            <hr>
                            {% if not amendment.moderated %}
                                <p class="card-text">{{ amendment.text|truncatechars:1000 }}</p>
                            {% else %}
                                <p class="text-danger">Moderated.  Posts or comments that breach Momentum's code of ethics, or are not relevant to the Democracy Review's remit, will be removed.</p>
                            {% endif %}
                            <div class="text-right">
                                <a href="{% url 'review:amendment' amendment.pk %}">View <i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}