{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title%}Thanks for submitting your proposal!{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review - Discuss</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:track' theme.track.pk %}">{{ theme.track.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:theme' theme.pk %}">{{ theme.name }}</a></li>
    <li class="breadcrumb-item active">Thanks for submitting your proposal!</li>
{% endblock %}

{% block content %}
    <h4>Thank you!</h4>
    <p>By submitting your proposal, you’re making a real contribution to Momentum’s submissions to the Democracy Review and the further reform and democratisation of the Labour Party.</p>
    <p>We’ve just hired a new <a href="{% static 'review/Digital_Officer_JD.pdf' %}">Digital Officer</a> to help develop Momentum’s digital platforms and projects, including My Momentum. We’re fundraising to help cover our costs - if you could <a href="https://momentum.nationbuilder.com/donate7" target="_blank">contribute £10</a> towards it, we would appreciate the support.</p>
    <a href="https://momentum.nationbuilder.com/donate7" target="_blank" class="btn btn-success mr-4">I'll chip in</a><a href="{% url 'review:theme' theme.pk %}" class="btn btn-primary">Return to proposals</a>
{% endblock %}