{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title%}Request moderation{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review - Discuss</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:track' amendment.proposal.theme.track.pk %}">{{ amendment.proposal.theme.track.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:theme' amendment.proposal.theme.pk %}">{{ amendment.proposal.theme.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:proposal' amendment.proposal.pk %}">{{ amendment.proposal.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:amendment' amendment.pk %}">{{ amendment.name }}</a></li>
    <li class="breadcrumb-item active">Request moderation</li>
{% endblock %}

{% block content %}
    {% include "review/includes/moderation_text.html" %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'mxv/includes/form.html' %}
        <button type="submit" class="btn btn-danger">Request moderation</button>
        <a href="{% url 'review:amendment' amendment.pk %}" class="btn btn-primary">Cancel</a>
   </form>
{% endblock %}