{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title%}{{ comment.text|truncatechars:100 }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review - Discuss</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:track' comment.proposal.theme.track.pk %}">{{ comment.proposal.theme.track.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:theme' comment.proposal.theme.pk %}">{{ comment.proposal.theme.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:proposal' comment.proposal.pk %}">{{ comment.proposal.name }}</a></li>
    <li class="breadcrumb-item active">{{ comment.text|truncatechars:100 }}</li>
{% endblock %}

{% block content %}
    <table class="card-text text-muted small">
        <tr><td><b>Created by</b></td><td>{{ comment.created_by.name }}</td></tr>
        <tr><td><b>Created at</b></td><td>{{ comment.created_at }}</td></tr>
        <tr class="{% if comment.moderation_requests.count > 0 %}text-danger{% endif %}"><td><b>Moderation requests</b></td><td>{{ comment.moderation_requests.count }}</td></tr>
    </table>
    <br>
    <form method="post" novalidate>
        {% csrf_token %}
 
        {% if not comment.moderated %}
            {% include 'mxv/includes/form.html' %}
        {% else %}
            <p class="text-danger">Moderated.  Posts or comments that breach Momentum's code of ethics, or are not relevant to the Democracy Review's remit, will be removed.</p>
        {% endif %}

        {% if not comment.moderated and not comment.created_by.is_ncg and not comment.created_by.is_members_council and comment.created_by != user %}
            {% if not moderation %}
                <a href="{% url 'review:moderate_comment' comment.pk %}" class="btn btn-danger">Request moderation</a>
            {% else %}
                <br/>
                <p class="text-danger">You have requested moderation of this comment for the following reason:</p>
                <blockquote class="blockquote">
                    <p class="text-danger small">{{ moderation.reason }}</p>
                </blockquote>
                <p class="text-danger">Only you and the moderator can see this moderation request.</p>
                <button type="submit" name="turn_moderation_into_comment" class="btn btn-success mr-4">Turn this into a comment instead</button>
                <button type="submit" name="cancel_moderation" class="btn btn-primary">Cancel moderation request</button>
            {% endif %}
        {% endif %}
    </form>    
{% endblock %}