{% extends "mxv/base_nav.html" %}
{% load static %}

{% block title%}{{ theme.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'review:index' %}">Democracy Review - Discuss</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review:track' theme.track.pk %}">{{ theme.track.name }}</a></li>
    <li class="breadcrumb-item active">{{ theme.name }}</li>
{% endblock %}

{% block content %}

    <p>{{ theme.description }}</p>

    {% if theme.guidance %}
        <blockquote class="blockquote text-muted">
            <p class="small">{{ theme.guidance|safe }}</p>
            <footer class="blockquote-footer">Momentum</footer>
        </blockquote>
    {% endif %}

    {% if theme.track.submissions_currently_allowed %}
        {% if not user_proposal %}
            <p>You can create one proposal in this theme.</p>
            <a href="{% url 'review:new_proposal' theme.pk %}" class="btn btn-success">New proposal</a>
        {% else %}
            <p>You have already created a proposal in this theme and so cannot create any more.</p>
            <a href="{% url 'review:proposal' user_proposal.pk %}" class="btn btn-primary">View your proposal</a>
        {% endif %}
        <br/><br/>
    {% else %}
        <p>This track does not allow members to create proposals at this time, however you can still view existing proposals and comment on them.</p>
        {% if user_proposal %}
            <p>You created a proposal in this theme.</p>
            <a href="{% url 'review:proposal' user_proposal.pk %}" class="btn btn-primary mb-4">View your proposal</a>
        {% endif %}
    {% endif %}

    <table class="card-text text-muted small">
        <tr><td><b>Proposals</b></td><td>{{ theme.proposals.count }}</td></tr>
    </table>
    
    <div class="row">
        {% for proposal in proposals %}
            <div class="col-sm d-flex align-items-stretch pt-4">
                <div class="card bg-light border-secondary" style="width: 20rem;">
                    <div class="card-body">
                        <a href="{% url 'review:proposal' proposal.pk %}">
                            {% if not proposal.moderated %}
                                <h4 class="card-title">{{ proposal.name }}</h4>
                            {% else %}
                                <p class="text-danger">Moderated.</p>
                            {% endif %}
                        </a>
                        <table class="card-text text-muted small">
                            <tr><td><b>Created by</b></td><td>{{ proposal.created_by.name }}</td></tr>
                            <tr><td><b>Created at</b></td><td>{{ proposal.created_at }}</td></tr>
                            {% if proposal.theme.track.allow_nominations %}<tr><td><b>Nominations</b></td><td>{{ proposal.nominations.count }}</td></tr>{% endif %}
                            {% if proposal.theme.track.allow_submissions %}<tr><td><b>Amendments</b></td><td>{{ proposal.amendments.count }}</td></tr>{% endif %}
                            <tr><td><b>Comments</b></td><td>{{ proposal.comments.count }}</td></tr>
                            {% if not proposal.created_by.is_ncg and not proposal.created_by.is_members_council %}<tr class="{% if proposal.moderation_requests.count > 0 %}text-danger{% endif %}"><td><b>Moderation requests</b></td><td>{{ proposal.moderation_requests.count }}</td></tr>{% endif %}
                        </table>
                        <hr>
                        {% if not proposal.moderated %}
                            <p class="card-text">{{ proposal.summary|truncatechars:100 }}</p>
                        {% else %}
                            <p class="text-danger">Moderated.  Posts or comments that breach Momentum's code of ethics, or are not relevant to the Democracy Review's remit, will be removed.</p>
                        {% endif %}
                        <div class="text-right">
                            <a href="{% url 'review:proposal' proposal.pk %}">View <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}    
    </div>
{% endblock %}